*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/image1.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    width: 120px;
}
nav{
    width: 100%;
    display: flex;
    text-align: right;
    top: 0;
    left: 0;
    position: fixed;
    flex: 1;
}
nav ul{
    text-align: right;
    flex: 1;
    margin-top: 20px;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    margin-top: 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}
/* nav ul li::after {
    content: '';
    width: 0%;
    background-color: aqua;
    height: 2px;
    margin: auto;
    display: block;
}
nav ul li:hover::after{
    width: 100%;
} */
.h1{
    text-align: center;
    color: #ffffff;
    padding: 250px 80px;
}
.btn{
    margin-top: 1em;
    border: 1px solid transparent;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    transition: 0.6s;
    border-radius: 4px;
}
.btn:hover{
    background-color: #ffb700;
    color: #000; 
}